* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #003366;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 6px;
}

.photo-profil {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

h1, h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}


ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background-color: #003366;
    color: white;
}



